@import '../../base_styles/settings';

.md-tv-show {
  color: grey;
}

.md-tv-show__container {
  width: 90%;
  margin-left: 5%;
}

.md-tv-show__image {
  width: 200px;
  height: 300px;
  margin-right: 30px;
}

.md-tv-show__image img {
  width: inherit;
  height: inherit;
}

.md-tv-show__flex {
  display: flex;
  flex-wrap: wrap;
}

.md-tv-show__flex--column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.md-tv-show__desc {
  overflow: auto;
  height: 250px;
  width: 100%;
}

.md-tv-show__name {
  margin: 40px 0;
  font-size: $big-font;
}

.md-tv-show__recommended {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  height: 400px;
}

.md-tv-show__info{
  width: 60%;
}