@import "./../../base_styles/settings";
@import "./../../base_styles/mixins";

.md-add-movie{
  transition: max-height 1s ease-in;
  max-height: 1500px;
  overflow: hidden;
}

.md-add-movie--hide{
  max-height: 0;
  transition: max-height .5s ease-out;
}

.md-add-movie__form{
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-around;
}

.md-add-movie__title{
  color: grey;
  margin-bottom: 30px;
}

.md-add-movie__title:after{
  content: '';
  display: block;
  width: 300px;
  height: 2px;
  background-color: grey;
}


.md-add-movie__main-params{
  display: flex;
  flex-direction: column;
  color: $grey-color;
  margin-right: 40px;
}

.md-add-movie__error{
  color: red;
  font-weight: 700;
}

.md-add-movie__img-upload{
  margin-left: 100px;
}

.md-add-item__text-area{
  width: 300px;
  height: 150px;
}

.md-add-movie__drop-files{
  border: 2px dashed white;
  width: 200px;
  height: 100px;
}

.md-add-movie__dropped-image{
  width: 100%;
  height: 100%;
}

.md-add-movie__dropped{
  border: 2px solid white;
  width: 200px;
  background-color: palevioletred;
  height: 100px;
}

.md-add-movie__submit{
  @include submit-button(#fff9f9);
  margin-right: 10px;
}

.md-add-movie__cancel{
  @include cancel-button(grey);
}

.md-add-movie__buttons{
  margin-top: 40px;
}

.md-add-movie__submit--disabled{
  background: darkgrey;
}
