@media (max-width: 890px) {
  .db-navbar--big-left-margin {
    margin-left: 100px !important;
  }
  .db__sidebar {
    z-index: 3;
  }
  .db-navbar {
    padding-right: 0 !important;
    margin-left: 10px !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    width: 100%;
  }
  .db-container {
    justify-content: center !important;
    align-items: center !important;
  }

  .db__nav-container {
    justify-content: center !important;
    align-items: center !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 600px) {

  .db-navbar__nav-item {
    position: relative;
    width: 50%;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, .7);
    margin: 0 !important;
    color: white !important;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
  }

  .db-navbar__nav-item::after {
    display: none;
  }

  .db-navbar__nav-item:last-of-type:after {
    display: none;
  }

  .db-navbar {
    padding-right: 0;
  }

  .db-navbar__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .db-arrow {
    display: none !important;
  }

  .db-search__input {
    width: 100% !important;
  }

  .db-navbar {
    padding-right: 0px !important;
  }

  .db-support__main-params {
    width: 100% !important;
  }

  .db-movie__image {
    margin: 0 auto !important;
  }
  .db-support__poster {
    width: 100% !important;
  }
  .db-movie__flex--column {
    width: 100% !important;
  }

}

@media (max-width: 730px) {
  .db-tv-show__info {
    width: 100% !important;
  }
  .db-movie__flex {
    justify-content: center !important;
    align-items: center !important;
  }

  .db-tv-show__info__desc {
    width: 100%;
  }

  .db-tv-show__flex {
    justify-content: center !important;
    align-items: center !important;
  }
  .db-about__text {
    width: 100% !important;
  }
  .db-about__icon {
    width: 100% !important;
  }
}