$main-color: #1d1b23;
$side-bar-color: #393647;
$grey-color:#a7b6b7;
$black-blue: #2763b2;


$icons-font: 25px;
$icons-font-big: 35px;
$main-font: 16px;
$big-font: 25px;
$title-font: 35px;
$middle-font: 20px;