@import './../../base_styles/mixins';

.db-support__title {
  color: grey;
  margin-bottom: 30px;
}

.db-support__title:after {
  content: '';
  display: block;
  width: 300px;
  height: 2px;
  background-color: grey;
}

.db-support__main-params {
  width: 60%;
  color: grey;
}

.db-support__poster {
  width: 40%;
  color: grey;
}

.db-support__title-form {
  margin-bottom: 5px;
  color: grey;
}

.db-support__name, .db-support__desc {
  margin-bottom: 20px;
  padding: 15px;
}

.db-support__name:focus, .db-support__desc:focus {
  outline: none;
}

.db-support__name {
  width: 60%;
  border: none;
  border-radius: 10px;
}

.db-support__desc {
  width: 85%;
  border: none;
  border-radius: 10px;
}

.db-support__submit {
  @include submit-button(#fff9f9);
  margin-right: 10px;
}

.db-support__cancel {
  @include cancel-button(grey);
}

.db-support__buttons {
  margin-top: 40px;
}
