@import './../../base_styles/mixins';

.md-support__title{
  color: grey;
  margin-bottom: 30px;
}

.md-support__title:after{
  content: '';
  display: block;
  width: 300px;
  height: 2px;
  background-color: grey;
}

.md-support__main-params{
  width: 60%;
  color: grey;
}

.md-support__poster{
  width: 40%;
  color: grey;
}

.md-support__title-form{
  margin-bottom: 5px;
  color: grey;
}

.md-support__name, .md-support__desc{
   margin-bottom: 20px;
   padding: 15px;
 }

.md-support__name:focus, .md-support__desc:focus{
  outline: none;
}

.md-support__name{
  width: 60%;
  border: none;
  border-radius: 10px;
}
.md-support__desc{
  width: 85%;
  border: none;
  border-radius: 10px;
}

.md-support__submit{
  @include submit-button(#fff9f9);
  margin-right: 10px;
}

.md-support__cancel{
  @include cancel-button(grey);
}

.md-support__buttons{
  margin-top: 40px;
}
