@import "./../../base_styles/settings";

.db-sidebar {
  width: 20px;
  display: flex;
}

.db-sidebar__line {
  display: flex;
  align-content: center;
  color: white;
  text-decoration: none;
}

.db-sidebar__line--active {
  color: deepskyblue;
}

.db-sidebar__column {
  margin-top: 20px;
  margin-left: 20px;
}

.db-sidebar__icon {
  margin-right: 20px;
  margin-bottom: 27px;
  cursor: pointer;
  font-size: $icons-font;
}

.db-sidebar__label {
  cursor: pointer;
  font-weight: 700;
  font-size: $middle-font;
}

.db-sidebar__label--hide {
  display: none;
}

.db-logo--hide {
  border: 1px solid red;
  display: none;
}

.db-logo {
  display: flex;
}

.db-logo__logo-title {
  color: grey;
  font-size: $big-font;
  margin-left: 10px;
}

.db-logo__logo-img {
  background: url('./../../assets/img/logo.jpg') no-repeat center/cover;
  background-size: cover;
  height: 30px;
  width: 30px;
}

.db-poster__icon--red {
  color: red;
}


