@import "../../base_styles/settings";

.md-search {
  display: flex;
}

.md-search__input {
  background: transparent;
  padding: 10px 20px;
  color: $grey-color;
  position: relative;
}

.md-search__box {
  width: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  cursor: pointer;
  margin-right: 10px;
}

.md-search__box--black-box{
  background: $main-color;
  border: 1px solid darkgreen;
}


.md-search__icon {
  color: black;
  font-size: $icons-font;

}

.md-search__icon--red-icon{
  color: red;
}

.md-search__container{
  display: flex;
}