@import "./../../base_styles/settings";

.db-navbar {
  display: flex;
}

.db-navbar--left-margin {
  margin-left: auto;
}

.db-navbar__container {
  display: flex;
}

.db-navbar__nav-item {
  position: relative;
  margin: 25px;
  color: $black-blue;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.db-navbar__nav-item::after {
  content: '|';
  position: absolute;
  margin-left: 25px;
  color: $grey-color;
  font-weight: bold;
}

.db-navbar__nav-item:last-of-type:after {
  content: '';
}

.db-navbar__nav-item--red-text {
  color: red;
}

.db-navbar--float-left {
  float: left;
}

