@import '../../base_styles/settings';

.db-movie {
  color: grey;
}

.db-movie__container {
  width: 90%;
  margin-left: 5%;
}


.db-movie__image {
  width: 300px;
  height: 400px;
  margin-right: 30px;
}

.db-movie__image img {
  width: inherit;
  height: inherit;
}

.db-movie__flex {
  display: flex;
}

.db-movie__flex--column {
  flex-direction: column;
}

.db-movie__desc {
  overflow: auto;
  height: 400px;
}

.db-movie__name {
  margin: 40px 0;
  font-size: $big-font;
}

.db-movie__recommended {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  height: 400px;
}

