@import '../../base_styles/settings';

.md-movie {
  color: grey;
}

.md-movie__container {
  width: 90%;
  margin-left: 5%;
}


.md-movie__image {
  width: 200px;
  height: 300px;
  margin-right: 30px;
}

.md-movie__image img {
  width: inherit;
  height: inherit;
}

.md-movie__flex {
  display: flex;
  flex-wrap: wrap;
}

.md-movie__flex--column {
  flex-direction: column;
  width: 300px;
  flex-wrap: wrap;
}

.md-movie__desc {
  overflow: auto;
  height: 250px;
  width: 100%;
}

.md-movie__name {
  margin: 40px 0;
  font-size: $big-font;
}

.md-movie__recommended {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  height: 400px;
}

.slider--yellow .rangeslider-horizontal .rangeslider__fill{
  background-color: #939e19;
}

.slider--green .rangeslider-horizontal .rangeslider__fill{
  background-color: #579e18;
}

.md-movie__info{
  width: 60%;
}