@import "./../../base_styles/settings";

.db-arrow--black-body {
  background: lighten($main-color, 5%);
}

.db-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 50px;
  margin-top: 2vh;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.db-arrow__arrow {
  font-size: $icons-font-big;
  color: $grey-color;
}