.db-mylib__empty{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.db-mylib__empty_img{
  background: url('./../../assets/img/cat.jpg') no-repeat center/cover;
  height: 150px;
  width: 150px;
  margin-bottom: 30px;
}

.db-mylib__title_img{
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: grey;
}