@import './../../base_styles/mixins';

.db-about--red-color{
  color: red;
}

.db-about--underline{
  text-decoration: underline;
}

.db-about--grey-color{
  color: grey;
}

.db-about__title{
  margin-top: 100px;
  font-size: 40px;
}

.db-about__text{
  height: 300px;
  overflow: auto;
  width: 60%;
  margin-bottom: 40px;
}

.db-about__icon{
  width: 40%;
  font-size: 320px;
  margin-bottom: 40px;
}

.db-about__icon--flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}



.db-about__img1{
  height: 500px;
  background: url(./../../assets/img/tv-shows.png) no-repeat top/cover;
}

.db-about__img2{
  height: 500px;
  background: url(./../../assets/img/movies.png) no-repeat top/cover;
}

.db-about__img3{
  height: 500px;
  background: url(./../../assets/img/myLib.png) no-repeat top/cover ;
}

.db-about__img4{
  height: 500px;
  background: url(./../../assets/img/add-form.png) no-repeat top/cover ;
}

.db-about__img5{
  height: 500px;
  background: url(./../../assets/img/myLib-filtered.png) no-repeat top/cover ;
}

.db-about__img6{
  height: 500px;
  background: url(./../../assets/img/tv-show-desc.png) no-repeat top/cover ;
}

.db-about__img7{
  height: 500px;
  background: url(./../../assets/img/movie-desc.png) no-repeat top/cover ;
}

.db-about__img8{
  height: 500px;
  background: url(./../../assets/img/myLib-empty.png) no-repeat top/cover ;
}

.db-about__img9{
   height: 500px;
   background: url(./../../assets/img/support.png) no-repeat top/cover ;
 }