@import "./../../base_styles/settings";
@import './../../base_styles/base';
@import './../../base_styles/reset.css';
@import './../../base_styles/queries';
@import './../../base_styles/mixins';
@import './../../assets/font-awesome-4.7.0/css/font-awesome.min.css';
@import '~loaders.css/src/animations/line-scale.scss';

.db__sidebar {
  z-index: 5;
  flex: 1 0 65px;
  height: 100vh;
  transition: all .15s linear;
  top: 0;
  background: lighten($main-color, 20%);
  max-width: 65px;
}

.db__main-container {
  //display: flex;
}

.db-sidebar__count {
  color: #e01f39;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  margin: 7px auto;
}

.db__sidebar--big-width {
  flex: 1 0 200px;
  max-width: 200px;
}

.db__sidebar--white-text {
  color: white;
}

.db-loading-title {
  color: white;

}

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

.db-lod {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.db__loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.db-lod div {
  height: 200px;
  width: 30px;
}

.db__content-container--full-height {
}

.db__flex-row--center {
  justify-content: center;
  align-items: center;
}