@import "./../../base_styles/settings";
@import './../../base_styles/base';
@import './../../base_styles/reset.css';
@import './../../base_styles/queries';
@import './../../assets/font-awesome-4.7.0/css/font-awesome.min.css';

.md__sidebar {
  z-index: 5;
  flex: 1 0 65px;
  height: 97vh;
  transition: all .15s linear;
  top: 0;
  background: lighten($main-color, 20%);
  max-width: 65px;
}

.md__main-container {
  width: 100%;
}

.md-sidebar__count {
  color: darkred;
}

.md__sidebar--big-width {
  flex: 1 0 200px;
  max-width: 200px;
}

.md__sidebar--white-text {
  color: white;
}

.md-loading-title {
  color: white;
  margin: 100px auto;
  font-size: 100px;
}
